<nav class="zone">
  <a href="#" class="sig">Ś</a>

  <ul class="social-links">
    <li>
      <a href=""><i class="fab fa-youtube"></i></a>
    </li>
    <li>
      <a href=""><i class="fab fa-linkedin"></i></a>
    </li>
    <li>
      <a href=""><i class="fab fa-discord"></i></a>
    </li>
    <li>
      <a href=""><i class="fab fa-github"></i></a>
    </li>
    <div class="icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
        viewbox="0 0 24 24"
        class="icon"
        data-v-efbbd2a6
      >
        <circle cx="12" cy="12" r="2"></circle>
        <circle cx="19" cy="12" r="2"></circle>
        <circle cx="5" cy="12" r="2"></circle>
      </svg>
    </div>
  </ul>

  <!-- <div class="menu-btn">
    <div class="menu-btn__lines"></div>
  </div>
  <ul class="menu-items">
    <li><a href="#" class="menu-item">Item 1</a></li>
    <li><a href="#" class="menu-item">Item 2</a></li>
    <li><a href="#" class="menu-item">Item 3</a></li>
  </ul> -->
</nav>
