<nav class="navbar">
  <a href="#" class="navbar-brand">Ś</a>

  <ul class="navbar-menu">
    <li>
      <a href=""><i class="fab fa-youtube"></i></a>
    </li>
    <li>
      <a href=""><i class="fab fa-linkedin"></i></a>
    </li>
    <li>
      <a href=""><i class="fab fa-discord"></i></a>
    </li>
    <li>
      <a href=""><i class="fab fa-github"></i></a>
    </li>
    <div class="icon" (click)="toggleDropdown()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
        viewbox="0 0 24 24"
        class="icon"
        data-v-efbbd2a6
      >
        <circle cx="12" cy="12" r="2"></circle>
        <circle cx="19" cy="12" r="2"></circle>
        <circle cx="5" cy="12" r="2"></circle>
      </svg>
    </div>

    <div class="dropdown" *ngIf="isDropdownOpen">
      <ul class="dropdown-content">
        <li><a routerLink="/link1">Link 1</a></li>
        <li><a routerLink="/link2">Link 2</a></li>
        <!-- Add more links as needed -->
      </ul>
    </div>

    <!-- <div class="theme-switch">
      <button>Toggle Theme</button>
    </div> -->
  </ul>

 
</nav>
