<nav class="zone">
  <div class="zone-top">
    <a href="#" class="sig">Ś</a>
    <ul class="social-links">
      <li>
        <a href=""><i class="fab fa-youtube"></i></a>
      </li>
      <li>
        <a href=""><i class="fab fa-linkedin"></i></a>
      </li>
      <li>
        <a href=""><i class="fab fa-discord"></i></a>
      </li>
      <li>
        <a href=""><i class="fab fa-github"></i></a>
      </li>
    </ul>
  </div>
  <!-- <div class="menu-btn">
    <div class="menu-btn__lines"></div>
  </div>
  <ul class="menu-items">
    <li><a href="#" class="menu-item">Item 1</a></li>
    <li><a href="#" class="menu-item">Item 2</a></li>
    <li><a href="#" class="menu-item">Item 3</a></li>
  </ul> -->
</nav>
