<header class="main-nav">
  <div class="navbar">
    <div class="container">
      <div class="title">
        <div class="NavBarTitle">
          <a href="" class="title"
            ><img class="Nav logo" src="" alt="" />Ś
          </a>
        </div>
        <div class="content"></div>
        <div class="content-body">
          <div class="vpsociallink">
            <a
              href=""
              class="vpsociallink"
              aria-label="twitter"
              target="-blank"
              rel="noopener"
              ><i class="fab fa-youtube"></i
            ></a>
            <a
              href=""
              class="vpsociallink"
              aria-label="twitter"
              target="-blank"
              rel="noopener"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              href=""
              class="vpsociallink"
              aria-label="twitter"
              target="-blank"
              rel="noopener"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              href=""
              class="vpsociallink"
              aria-label="twitter"
              target="-blank"
              rel="noopener"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
