@import "src/styles/_colors";
@import "src/styles/_mixins";
@import "src/styles/_variables";

.container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-dark-grey;
  background-image: linear-gradient(
    62deg,
    $main-black 0%,
    $main-dark-grey 100%
  );
}

.cover {
  width: 30rem;
}

