$main-black: #171010;
$main-dark-grey: #2b2b2b;
$main-grey: #423f3e;
$main-brown: #362222;

$menu-items-hover: #98AFBA;

$cover-h1: #006B69;
$cover-h2: #4CF58C;
$cover-p: #D5FADD;

$card-box: #9EAFA2;