<div class="grid-wrapper">
  <div class="box">
    <img src="assets/project_1.png" />
    <p>Title</p>
  </div>
  <div class="box">
    <img src="assets/files_2.png" />
    <p>Title</p>
  </div>
  <div class="box">
    <img src="assets/server_2.png" />
    <p>Title</p>
  </div>
  <div class="box">
    <img src="assets/responsive.png" />
    <p>Title</p>
  </div>
  <div class="box">
    <img src="assets/search.png" />
    <p>Title</p>
  </div>
  <div class="box">
    <img src="assets/static.png" />
    <p>Title</p>
  </div>
  <!-- <div class="box"><img src="assets/crud.png" /><p>Title</p></div> -->
</div>
