@import "src/styles/_colors";
@import "src/styles/_mixins";
@import "src/styles/_variables";

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  background-color: $main-black;
}

.box {
    padding: 130px;
    margin: 20px;
    background-color: #fff;
}

.box > img {
  width: 100%;
}

.box > img {
  width: 100%;
  height: auto;
}
